.img-thumbnail {
    margin: 10px;
}

.boxes {
    border: 1px solid lightgray;
    height: 150px;
    text-align: center;
    margin-top: 30px;
}
/* 
.winsLosses {
    border: 1px solid lightgray;
    height: 150px;
    text-align: center;
    margin-top: 30px;
}

#yourNumber {
    border: 1px solid lightgray;
    height: 150px;
    text-align: center;
    margin-top: 30px;
} */